{% extends "../base.html" %}

{% block content %}

<h1>Selecione Do Banco de Dados:</h1>
    <form method="post" action="{% url 'visualizacao' %}">
        {% csrf_token %}
        <select name="selected_table">
            {% for table in tables %}
                <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
        <button type="submit">Visualizar</button>
    </form>

    <h1>Enviar um csv:</h1>
    <form method="post" action="{% url 'visualizacao' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file_upload">
        <button type="submit">Visualizar</button>
    </form>
    

{% endblock  %}